fill(){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

none(){
	display: none;
}

notransition(){
	transition: none!important;
}

vCentering(Justify=center, Align=center,Wrap=nowrap) {
	display: flex;
	flex-direction: row;
	justify-content: Justify;
	align-items: Align;
	flex-wrap: Wrap
}

hCentering(Justify=center, Align=center,Wrap=nowrap) {
	display: flex;
	flex-direction: column;
	justify-content: Justify;
	align-items: Align;
	flex-wrap: Wrap
}

absCenter() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
