@import url("https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");


ownfonts = "iconfont";
for name in ownfonts{
    url = "../../fonts/" + name + "/font.css";
    @import url(url);
}


$japanese_font="Noto Sans Japanese";

$pc_width = 840px;

html{
    font-size: 12px;
    * {
        font-size: 1rem;
        font-weight: 400;
        font-family: $japanese_font,"Yu Gothic UI","Segoe UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Tahoma,Geneva,Verdana,sans-serif;
        box-sizing:border-box;
    }
}
body,html{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

@media screen and (max-width:$pc_width){
    body,html{
        width: 100%;
    }
}

i.icon:not(.material-icons){
    font-style: normal;
    font-family: "iconfont";
}

$nav_height = 60px;
$footer_height = 200px;

$theme1=#06A1B8;
$theme2=#E0DFD8;
$theme3=#343839;
