#links {
    position: relative;
    z-index: 4;
    height: 100%;
    min-height: 'calc(100vh - %s)' % ($nav_height + $footer_height);
    &>.bg {
        fill();
        background: #E0DFD8;
    }
    &>.contents {
        width: $pc_width;
        min-height: 'calc(100vh - %s)' % ($nav_height + $footer_height);
        position: relative;
        z-index: 1;
        margin: 0 auto;
        padding: 5rem 0;
        hCentering();
        &>.title_wrap {
            hCentering();
            margin-bottom: 3rem;
            &>.title {
                font-family: "Raleway";
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: 12px;
                color: $theme3;
                margin-bottom: 1.5rem;
            }
            &>.sub_title {
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: 3px;
                color: $theme3;
            }
        }
        &>.links {
            padding: 3.5rem 0;
            width: 100%;
            &>.title_wrap {
                vCentering();
                margin-bottom: 2rem;
                &>.icon_wrap {
                    hCentering();
                    margin-right: 1rem;
                    &>.icon {
                        color: $theme3;
                        font-size: 2.5rem;
                    }
                }
                &>.title {
                    font-family: "Raleway";
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: 6px;
                    color: $theme3;
                }
            }
            &>.link_wrap {
                vCentering(Justify: flex-start);
                margin-bottom: 1.5rem;
                padding-left: $pc_width * .3;
                &:last-of-type {
                    margin-bottom: 0;
                }
                &>.icon_wrap {
                    position: relative;
                    hCentering();
                    background: $theme1;
                    width: $button_width=48px;
                    height: $button_height=@width;
                    margin-right: 1.5rem;
                    &>.link {
                        fill();
                        z-index: 5;
                    }
                    &>.icon {
                        font-size: 2.5rem;
                        color: $theme2;
                    }
                    $hover_dur=.125s;
                    $hover_ease=ease-out;
                    transition: box-shadow $hover_dur $hover_ease,
                    transform $hover_dur $hover_ease;
                    box-shadow: 0 6px 0 rgba($theme3, .125);
                    &:after {
                        content: "";
                        position: absolute;
                        $size=( math((($button_width / 2)**2) + (($button_height / 2) ** 2), "sqrt")) * 2;
                        width: $size;
                        height: $size;
                        left: ($size - $button_width)/2;
                        top: ($size - $button_height)/2;
                        border-radius: 50%;
                        background: $theme2;
                        opacity: 0;
                        transform: scale(0);
                        transition: $hover_dur transform $hover_ease, $hover_dur opacity $hover_ease;
                    }
                    &:hover {
                        &:after {
                            transform: scale(1);
                            opacity: .25;
                        }
                    }
                    &:active {
                        transform: translateY(6px);
                        box-shadow: 0 0 0 rgba($theme3, .125);
                    }
                }
                &>.text_wrap {
                    &>.text {
                        color: $theme3;
                        font-size: 1.2rem;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$pc_width) {
    #links {
        height: 100%;
        &>.contents {
            width: 100%;
            padding: 5rem 0;
            &>.title_wrap {
                hCentering();
                padding: 0 4rem;
                text-align: center;
                &>.title {
                    font-size: 2.5rem;
                    margin-bottom: 1.5rem;
                    letter-spacing: 2px;
                    margin-bottom: 1rem;
                }
                &>.sub_title {
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 2px;
                }
            }
            &>.links {
                hCentering();
                width: 100%;
                &>.title_wrap {
                    margin-bottom: 3rem;
                    width: 100%;
                    text-align: center;
                }
                &>.link_wrap {
                    margin-bottom: 3rem;
                    padding-left: 0;
                    padding: 0 0;
                    hCentering();
                    &>.icon_wrap {
                        width: 60%;
                        margin-bottom: 1rem;
                        width: $button_width=200px;
                        height: $button_height=48px;
                        margin-right: 0;
                        &:after {
                            $size=( math((($button_width / 2)**2) + (($button_height / 2) ** 2), "sqrt")) * 2;
                            width: $size;
                            height: $size;
                            left: ($size - $button_width)/2;
                            top: ($size - $button_height)/2;
                        }
                    }
                    &>.text_wrap {
                        text-align: center;
                    }
                }
            }
        }
    }
}