extends ./common/layout.pug


block title
    title CAFE CHANGELOG
block stylesheet
    link(rel="stylesheet" href="./assets/css/changelog/bundle.css")


block body
    include ./common/nav.pug
    include ./data/_changelogs.pug
    #changelog
        .bg
        .contents
            .title_wrap
                p.title CHANGELOG
                p.sub_title CAFEの更新履歴
            +changelogs()

    include ./common/footer.pug
