extends ./common/layout.pug

block title
    title SORRY
block stylesheet
    link(rel="stylesheet" href="./assets/css/help/bundle.css")

block body
    include ./common/nav.pug

    #sorry
        .bg
        .contents
            .title_wrap
                p.title CONSTRUCTING
                p.sub_title このページは現在作成中です。

    include ./common/footer.pug
