extends ./common/layout.pug

block title
    title Cafe
block stylesheet
    link(rel="stylesheet" href="./assets/css/index/bundle.css")

block body
    include ./common/nav.pug
    header
        .bg
            .window_wrap
                img.window(src="./assets/images/cafeeditor_window.png")
        .contents
            .logo_wrap
                object.logo(data="./assets/images/cafe_logo.svg")
            .descript_wrap
                p.descript 
                    | More
                    span STRONG
                    | than 
                    | Aviutl
    #whats
        .bg
        .contents
            .top
                .title_wrap
                    p.title CAFE
                    p.sub_title CafeはAviUtlの後継として開発された映像制作ソフトです。
            .bottom
                .points_wrap
                    .point.all_pratform
                        .icon_wrap
                            i.material-icons.icon directions_run
                        .title_wrap
                            p.title ALL PRATFORM
                        .texts_wrap
                            p.text 64bitに対応していて、Windows、MacOS、Linux上で動作します。
                    .point.free
                        .icon_wrap
                            i.material-icons.icon money_off
                        .title_wrap
                            p.title FREE
                        .texts_wrap
                            p.text 永久に無料です。
                            p.text こちらから強制的に金銭を要求することはありません。
                    .point.open_source
                        .icon_wrap
                            i.material-icons.icon code
                        .title_wrap
                            p.title OPEN SOURCE
                        .texts_wrap
                            p.text オープンソースです。
                            p.text 誰でも開発が可能です。

    #all_pratform
        .bg
        .contents
            .title_wrap
                p.title ALL PRATFORM
                p.sub_title どの環境でも
            .pratforms_wrap
                .pratform.windows
                    .icon_wrap
                        i.icon 3
                    .title_wrap
                        p.title Windows

                .pratform.macos
                    .icon_wrap
                        i.icon 2
                    .title_wrap
                        p.title MacOS

                .pratform.linux
                    .icon_wrap
                        i.icon 1
                    .title_wrap
                        p.title Linux

            .and_wrap
                .and AND

            ._64bit
                .icon_wrap
                    i.icon 5
                .text_wrap
                    p.text そしてCAFEは64bit版に対応しています。

    #free
        .bg
        .contents
            .title_wrap
                p.title FREE FOREVER
                p.sub_title 永久に無料
            .wrap
                .lefter
                    .icon_wrap
                        i.material-icons.icon money_off
                .righter
                    .text_wrap
                        p.text CAFEは将来に渡り永続的に無償で開発され、無償で配布されます。
                        p.text また、専用の高速レンダリングサーバーも無料で利用することが来ます。


    #open_source
        .bg
        .contents
            .title_wrap
                p.title OPEN SOURCE
                p.sub_title オープンソース
            .wrap
                .lefter
                    .icon_wrap
                        i.material-icons.icon code
                .righter
                    .text_wrap
                        p.text CAFEはオープンソースで開発され、そのソースコードなどを自由に見ることが出来ます。
                        p.text よって、自由に開発に加わることが出来ます。
            .source_wrap
                .img_wrap
                    img.img(src="./assets/images/source_1.png")
                .img_wrap
                    img.img(src="./assets/images/source_2.png")
                .img_wrap
                    img.img(src="./assets/images/source_3.png")
    #download
        .bg
        .contents
            .title_wrap
                p.title GET CAFE
                p.sub_title さあ、CAFEを始めよう。
            .button_wrap
                .button
                    a.link(href="./download.html")
                    .icon_wrap
                        i.material-icons.icon file_download
                    .text_wrap
                        p.text DOWNLOAD

    include ./common/footer.pug
