extends ./common/layout.pug

block title
    title DOWNLOAD CAFE
block stylesheet
    link(rel="stylesheet" href="./assets/css/links/bundle.css")

block body
    include ./common/nav.pug

    #links
        .bg
        .contents
            .title_wrap
                p.title LINKS
                p.sub_title 関係するリンク
            .links.twitter
                .title_wrap
                    .icon_wrap
                        i.icon 7
                    p.title TWITTER
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="https://twitter.com/CAFEditor")
                    .text_wrap
                        p.text 公式アカウント
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="https://twitter.com/Aodaruma_ ")
                    .text_wrap
                        p.text Aodaruma デザイン担当
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="https://twitter.com/_aoi_tofu_")
                    .text_wrap
                        p.text aoutofu 設計/GUI担当
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="https://twitter.com/SEED264 ")
                    .text_wrap
                        p.text SEED264 レンダラー/エンコーダー担当
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="https://twitter.com/SnO2WMaN ")
                    .text_wrap
                        p.text SnO2WMaN ウェブサイト担当
            .links.github
                .title_wrap
                    .icon_wrap
                        i.icon 6
                    p.title GITHUB
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="https://github.com/aoitofu/CAFE")
                    .text_wrap
                        p.text CAFEプロジェクトリポジトリ

            .links.aviutl
                .title_wrap
                    .icon_wrap
                        i.icon 8
                    p.title AVIUTL
                .link_wrap
                    .icon_wrap
                        i.material-icons.icon link
                        a.link(href="http://spring-fragrance.mints.ne.jp/aviutl/")
                    .text_wrap
                        p.text AviUtl配布ページ

    include ./common/footer.pug
