body {
    padding-top: $nav_height;
    &.menu {
        #fullsize_nav {
            transform: translateY(0);
            opacity 1;
            visibility: visible;
            transition: .5s transform, .5s opacity;
        }
    }
}

body>nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: $nav_height;
    background: $theme3;
    box-shadow: 0 4px 8px rgba(black, .25);
    z-index: 9000;
    &>.wrap {
        width: $pc_width;
        height: 100%;
        vCentering();
        margin: 0 auto;
        &>.left {
            height: 100%;
            padding: 0 7rem;
            &>.logo_wrap {
                position: relative;
                height: 100%;
                vCentering();
            user-select:none;
                &>.link {
                    fill();
                }
                &>.logo {
                    height: ($nav_height * .4);
                }
            }
        }
        &>.right {
            width: 100%;
            height: 100%;
            position: relative;
            &>.hamburger {
                visibility: hidden;
                height: ($nav_height * .75);
                width: @height;
                hCentering();
                border: 2px solid $theme2;
                cursor: pointer;
                &>.icon_wrap {
                    hCentering();
                    transition: .25s transform;
            user-select:none;
                    &>.icon {
                        color: $theme2;
                        font-size: 2rem;
                    }
                }
                &:hover {
                    &>.icon_wrap {
                        transform: rotate(90deg);
                    }
                }
            }
            &>.menu_list {
                fill();
                vCentering();
                &>.menu {
                    width: 100%;
                    height: 100%;
                    hCentering();
                    position: relative;
                    $hover_dur=.125s;
                    &>.link {
                        fill();
                        z-index: 4;
                    }
                    &>.text_wrap {
                        &>.text {
                            font-size: 1.1rem;
                            color: $theme2;
                            font-family: "Raleway";
                            font-weight: 700;
                            letter-spacing: 3px;
                            transition: color $hover_dur;
                        }
                    }
                    &:after {
                        content: "";
                        fill();
                        absCenter();
                        width: 50%;
                        border-bottom: 2px $theme1 solid;
                        opacity: 0;
                        transition: opacity $hover_dur;
                    }
                    &:hover {
                        &>.text_wrap {
                            &>.text {
                                color: $theme1;
                            }
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#fullsize_nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: $theme2;
    z-index: 9999;
    transform: translateY(50%);
    opacity 0;
    transition: 0s visibility .5s, .5s transform, .5s opacity;
    visibility: hidden;
    &>.wrap {
        width: 100%;
        height: 100%;
        hCentering();
        position: relative;
        &>.cancel {
            fill();
            z-index: 1;
            cursor: pointer;
        }
        &>.menu_list {
            border: 1px solid $theme3;
            z-index: 2;
            &>.menu {
                position: relative;
                text-align: center;
                padding: 1.25rem 0;
                width: 220px;
                $hover_dur=.1s;
                transition: $hover_dur background;
                &>.link {
                    fill();
                }
                &>.text_wrap {
                    &>.text {
                        color: $theme3;
                        font-size: 1.5rem;
                        font-family: "Raleway";
                        letter-spacing: 6px;
                        transition: $hover_dur color;
                    }
                }
                &:hover {
                    background: $theme3;
                    &>.text_wrap {
                        &>.text {
                            color: $theme2;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$pc_width) {
    body>nav {
        width: 100vw;
        &>.wrap {
            width: 100%;
            &>.left {
                padding: 0;
                width: 50%;
            }
            &>.right {
                width: 50%;
                hCentering();
                &>.menu_list {
                    visibility: hidden;
                }
                &>.hamburger {
                    visibility: visible;
                }
            }
        }
    }
    #fullsize_nav {
        width: 100vw;
        height: 100vh;
    }
}