@import "../templates/mixin.styl";
@import "../templates/reset.styl";

$whats_top = 270px;
$whats_top_resp = 200px;

@import "header";
@import "whats";
@import "download";
@import "all_pratform";
@import "free";
@import "open_source";

@import "../common/nav";
@import "../common/footer"