body>header {
    width: 100%;
    min-height: 500px;
    height: 'calc(100vh - %s)' % ($nav_height + $whats_top);
    position: relative;
    &>.bg {
        fill();
        background: $theme3;
        overflow: hidden;
            user-select:none;
        &>.window_wrap {
            position: absolute;
            bottom: -15%;
            left: 0;
            right: 0;
            margin: 0 auto;
            hCentering();
            $window_size=($pc_width * .9);
            width: $window_size;
            &>.window {
                position: relative;
                z-index 2;
                width: 100%;
            }
        }
    }
    &>.contents {
        width: $pc_width;
        height: 100%;
        position: relative;
        z-index: 10;
        hCentering();
        margin: 0 auto;
        padding-bottom: 5rem;
            user-select:none;
        &>.logo_wrap {
            margin-bottom: 2.5rem;
            &>.logo {
                width: 240px;
            }
        }
        &>.descript_wrap {
            vCentering();
            &:before,
            &:after {
                content: "";
                display: block;
                width: 40px;
                height: 1px;
                background: $theme2;
                margin: 0 10px;
            }
            &:before {
                marign-left: 0;
            }
            &:after {
                marign-right: 0;
            }
            &>.descript {
                color: $theme2;
                font-family: "Raleway";
                font-weight: 400;
                font-size: 1.5rem;
                letter-spacing: 4px;
                &>span {
                    font: inherit;
                    color: $theme1;
                    font-weight: 600;
                    margin: 0 .8rem;
                }
            }
        }
    }
}

@media screen and (max-width:$pc_width) {
    body>header {
        min-height: 0;
        height: 'calc(100vh - %s)' % ($nav_height + $whats_top_resp);
        &>.bg {
            &>.window_wrap {
                position: absolute;
                bottom: 0;
                width: 90%;
                &>.window {
                    position: relative;
                    z-index 2;
                    width: 100%;
                }
            }
        }
        &>.contents {
            width: 100%;
            &>.logo_wrap {
                &>.logo {
                    width: 120px;
                }
            }
            &>.descript_wrap {
                vCentering();
                &:before,
                &:after {
                    width: 10px;
                }
                &>.descript {
                    color: $theme2;
                    font-family: "Raleway";
                    font-weight: 400;
                    font-size: 1.25rem;
                    letter-spacing: 4px;
                    hCentering();
                    &>span {
                        font: inherit;
                        color: $theme1;
                        font-weight: 600;
                        margin: .5rem 0;
                    }
                }
            }
        }
    }
}