#open_source {
    position: relative;
    z-index: 4;
    &>.bg {
        fill();
        background: #E0DFD8;
    }
    &>.contents {
        width: $pc_width;
        height: 100%;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        padding: 5rem 0;
        hCentering();
        &>.title_wrap {
            hCentering();
            &>.title {
                font-family: "Raleway";
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: 12px;
                color: $theme3;
                margin-bottom: 1.5rem;
            }
            &>.sub_title {
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: 3px;
                color: $theme3;
            }
        }
        &>.wrap {
            width: 100%;
            margin-top: 5rem;
            padding: 0 10rem;
            vCentering();
            &>.lefter {
                &>.icon_wrap {
                    padding: 4rem;
                    background: $theme1;
                    border-radius: 50%;
            user-select:none;
                    hCentering();
                    &>.icon {
                        color: $theme2;
                        font-size: 4rem;
                        text-shadow: 4px 4px rgba($theme3, .25);
                    }
                }
            }
            &>.righter {
                width: 100%;
                padding-left: 3rem;
                &>.text_wrap {
                    &>.text {
                        color: $theme3;
                        letter-spacing: 1px;
                        font-size: 1.2rem;
                        margin-bottom: 1rem;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &>.source_wrap {
            margin-top: 4rem;
            $img_height=250px;
            height: $img_height + (50px * 2);
            position: relative;
            user-select:none;
            &>.img_wrap {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                hCentering();
                height: $img_height;
                width: 100%;
                &>.img {
                    height: 100%;
                    box-shadow: 0 0 8px rgba(black, .5);
                }
                for i in 0..2 {
                    &:nth-of-type({i+1}) {
                        transform: translateX((i - 1)*50px) translateY(i*50px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$pc_width) {
    #open_source {
        &>.contents {
            width: 100%;
            padding: 5rem 0;
            &>.title_wrap {
                hCentering();
                padding: 0 4rem;
                text-align: center;
                &>.title {
                    font-size: 2.5rem;
                    margin-bottom: 1.5rem;
                    letter-spacing: 2px;
                    margin-bottom: 1rem;
                }
                &>.sub_title {
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 2px;
                }
            }
            &>.wrap {
                padding: 0;
                margin-top: 2.5rem;
                hCentering();
                &>.lefter {
                    margin-bottom: 2rem;
                    &>.icon_wrap {
                        padding: 2.5rem;
                        &>.icon {
                            font-size: 2rem;
                        }
                    }
                }
                &>.righter {
                    padding: 0 4rem;
                    &>.text_wrap {
                        &>.text {
                            font-size: 1rem;
                            letter-spacing: 0;
                        }
                    }
                }
            }
            &>.source_wrap {
                margin-top: 2rem;
                $img_height=120px;
                height: $img_height + (10px * 2);
                &>.img_wrap {
                    height: $img_height;
                    &>.img {}
                    for i in 0..2 {
                        &:nth-of-type({i+1}){
                            transform: translateX((i - 1)*10px) translateY(i*10px);
                        }
                    }
                }
            }
        }
    }
}