    #whats {
        position: relative;
        box-shadow: 0 -4px 8px rgba(black, .25);
        z-index: 4;
        &>.bg {
            fill();
            background: #E0DFD8;
        }
        &>.contents {
            width: $pc_width;
            height: 100%;
            position: relative;
            z-index: 1;
            margin: 0 auto;
            &>.top {
                height: $whats_top;
                hCentering();
                &>.title_wrap {
                    hCentering();
                    &>.title {
                        font-family: "Raleway";
                        font-size: 4rem;
                        font-weight: 600;
                        letter-spacing: 12px;
                        color: $theme3;
                        margin-bottom: 1.5rem;
                    }
                    &>.sub_title {
                        font-size: 1.25rem;
                        font-weight: 400;
                        letter-spacing: 3px;
                        color: $theme3;
                    }
                }
            }
            &>.bottom {
                margin-top: 2.5rem;
                padding: 0 4rem;
                &>.points_wrap {
                    width: 100%;
                    vCentering(Align: flex-start);
                    &>.point {
                        width: 100%;
                        hCentering();
                        margin: 0 1rem;
                        &:first-of-type {
                            margin-left: 0;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                        &>.icon_wrap {
                            padding: 2rem;
                            background: $theme1;
                            border-radius: 50%;
            user-select:none;
                            hCentering();
                            &>.icon {
                                color: $theme2;
                                font-size: 2.5rem;
                                text-shadow: 4px 4px rgba($theme3, .25);
                            }
                        }
                        &>.title_wrap {
                            width: 100%;
                            margin-top: 5rem;
                            position: relative;
                            padding-bottom: 1rem;
                            &>.title {
                                color: $theme3;
                                font-size: 1.5rem;
                                font-family: "Raleway";
                                font-weight: 700;
                                letter-spacing: 4px;
                                text-align: center;
                            }
                            &:after {
                                content: "";
                                fill();
                                absCenter();
                                width: 40%;
                                border-bottom: 1px solid $theme3;
                            }
                        }
                        &>.texts_wrap {
                            width: 100%;
                            margin-top: 2rem;
                            padding: 0 1.5rem;
                            &>.text {
                                text-align: center;
                                font-weight: 400;
                                font-size: 1.25rem;
                                letter-spacing: -1px;
                                color: $theme3;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:$pc_width) {
        #whats {
            &>.contents {
                width: 100%;
                &>.top {
                    height: $whats_top_resp;
                    hCentering();
                    &>.title_wrap {
                        hCentering();
                    padding: 0 4rem;
                        text-align: center;
                        &>.title {
                            font-size: 2.5rem;
                            margin-bottom: 1.5rem;
                            letter-spacing: 2px;
                            margin-bottom: 1rem;
                        }
                        &>.sub_title {
                            font-size: 1rem;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }
                }
                &>.bottom {
                    &>.points_wrap {
                        width: 100%;
                        hCentering();
                        &>.point {
                            margin: 0;
                            margin-bottom: 5rem;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            &>.title_wrap {
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }