footer
    .wrap
        .logo_wrap
            object.logo(data="./assets/images/cafe_logo.svg")
        .copyright
            .text_wrap
                p.text 
                    | &copy;Copyright
                    span 2017
                    | Cafe
                    sup TM
            .text_wrap
                p.text 
                    | WebDesigned By
                    a(href="https://sno2wman.github.io/" target="_blank") SnO2WMaN
                    