doctype html
html
    head
        meta(charset="utf-8")

        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        meta(name='description', content="AviUtlの後継映像制作ソフトウェア、CAFEditorの公式サイトです。")
        meta(name='keywords', keywords="AviUtl,CAFEditor,映像制作,無料")

        meta(name="twitter:card" content="summary") 
        meta(name="twitter:site" content="@CAFEditor") 
        meta(name="twitter:title" content="CAFEditor公式ウェブサイト") 
        meta(name="twitter:description" content="AviUtlの後継映像制作ソフトウェア、CAFEditorの公式サイトです。")
        meta(name="twitter:image" content="https://cdn.rawgit.com/aoitofu/CAFE/gh-pages/assets/images/cafe_logo_summarycard_256x.png")
        
        link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

        block title
        block stylesheet

        link(rel="stylesheet",href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:400,700")
        link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="./assets/scripts/dist/analytics.js")
        script(src="./assets/scripts/dist/nav.js")
    body
        block body