-var menus= [{id:"download",text:"DOWNLOAD",href:"./download.html"},{id:"help",text:"HELP",href:"./help.html"},{id:"link",text:"LINKS",href:"./links.html"},{id:"changelog",text:"CHANGELOG",href:"./changelog.html"}];

#fullsize_nav
    .wrap
        .cancel
        ul.menu_list
            each menu in menus
                li.menu
                    a.link(href=menu.href)
                    .text_wrap
                        p.text #{menu.text}

nav
    .wrap
        .left
            .logo_wrap
                a.link(href=".")
                object.logo(data="./assets/images/cafe_logo.svg")
        .right
            .hamburger
                .icon_wrap
                    i.icon.material-icons menu 
            ul.menu_list
                each menu in menus
                    li.menu
                        a.link(href=menu.href)
                        .text_wrap
                            p.text #{menu.text}

